html {
  background: linear-gradient(44deg, #1e17b1 10%, #e0e0e060 80%);
  height: 100%;
  font: normal 16px times;
  text-align: center;
}

img{
  width: 20%;
  margin-top: 30px;
}

form {
  /* From https://css.glass */
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.486);
  width: 180px;
  padding: 30px;
  line-height: 1.7rem;
  text-align: left;
  margin: auto;
}

#btn {
  margin-top: 15px;
  padding: 5px;
}

/* TODO - add more
- palheta de cores */
https://www.instagram.com/p/Cji1carADUG/