html {
  background: linear-gradient(180deg, #1e17b1 20%, #b4b3b360 90%);
  height: 100%;
  font: normal 16px times;
  text-align: center;
}

img{
  width: 20%;
  margin-top: 30px;
}

form {
  /* From https://css.glass */
  border-radius: 16px;
  border: 1px solid #ffffff7c;
  width: 180px;
  padding: 30px;
  line-height: 1.7rem;
  text-align: left;
  margin: auto;
}

#btn {
  margin-top: 15px;
  padding: 5px;
}

.redes a img{
  width: 50px;
  height: 50px;
  margin-top: -5px;
}

.redes a img:hover{
  box-shadow: 1px 1px 1px 1px;
}
