body{
    background-color: black;
    text-align: center;
}

header{
    color: white;
    /* font: normal 20px times; */
}

section {
    background: white;
    border-radius: 10px;
    box-shadow: 5px 6px 10px rgba(237, 12, 12, 0.746);
    line-height: 2rem;
    margin: auto;
    padding: 10px;
    width: 350px;
    text-align: left;
  }

  img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  
footer{
    color: white;
    font-style: italic;
    margin-top: 20px;
}